# ----------------------------
# Dart & Flutter
# ----------------------------
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
**/build/
**/doc/api/
**/ios/Flutter/.last_build_id
generated_plugin_registrant.dart
.env

# Symbolication & Obfuscation
app.*.symbols
app.*.map.json

# ----------------------------
# Android
# ----------------------------
android/.gradle/
android/.idea/
android/local.properties
android/key.properties
android/app/.cxx/
android/app/build/
android/app/debug/
android/app/profile/
android/app/release/

# ----------------------------
# iOS
# ----------------------------
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
ios/.symlinks/
ios/Pods/
ios/Podfile.lock
ios/Runner.xcworkspace/

# Xcode
*.xcodeproj/*.pbxuser
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcuserstate
*.xcscmblueprint

# ----------------------------
# IDEs
# ----------------------------

# IntelliJ / Android Studio
*.iml
*.ipr
*.iws
.idea/

# VS Code (comment out if you want to track it)
.vscode/

# ----------------------------
# macOS & Windows system files
# ----------------------------
.DS_Store
Thumbs.db
ehthumbs.db
desktop.ini

# ----------------------------
# Logs, caches, misc
# ----------------------------
*.log
*.pyc
*.swp
*.class
.history
.atom/
.svn/
.swiftpm/
.build/
.buildlog/
migrate_working_dir/